.waypoint{
    margin-left: 6%;
    margin-right: 6%;
}

.waypoint table{
    width: 100%;
    border-collapse: separate;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 0px!important;
    font-variant: normal;  
}

.waypoint th{
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2F2F2F;
}

.waypoint td{
    padding: 10px;
    color: rgb(209, 209, 209);
    font-size: 14px;
}

.waypoint tr:nth-child(even){
    background-color: #606060;
}

.waypoint tr:nth-child(odd){
    background-color: #2f2f2f00;
}

.btn{
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-top: 20%;
    width: 100%;
}
