.waypoint{
    margin-left: 6%;
    margin-right: 6%;
}

.waypoint table{
    /* display: block !important; */
    max-height: 350px;
    width: 100%;
    border-spacing: 0px!important;
    overflow-y: auto;
}

.waypoint th{
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2F2F2F;
}

.waypoint td{
    padding: 10px;
    color: rgb(209, 209, 209);
    font-size: 14px;
}

.waypoint tr:nth-child(even){
    background-color: #606060;
}

.waypoint tr:nth-child(odd){
    background-color: #2f2f2f00;
}

.btn{
    margin-top: 20%;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    width: 100%;
}

.tablewrapper{
    display: block;
    height: 350px;
    max-height: 350px;
    overflow-y: auto;
}

.modal{
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 365px;
    height: 300px;
    max-height: 300px;
    background-color: cadetblue;
}

.hidden{
    display: none;
}

.innermodal{
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    overflow: hidden;
}

.input{
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

.input label{
    margin-right: 20px;
}

.innermodal .btn{
    margin-top: 30%;
}